/* Put custom styles here */

.context-menu {
    font-family: Tahoma, sans-serif;
    position: fixed;
    top: 100px;
    left: 100px;
    min-width: 100px;
    color: #aaf;
    box-shadow: 0 0 10px black !important;
    background-color: #2e2e2e !important;
    z-index: 10;
    padding: 0.3rem;
}

.context-menu.dark {
    background-color: #000 !important;
}

.context-menu h4 {
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0.3em;
}

.context-menu button {
    width: 100%;
    border: none;
    display: block;
    padding: 0.3em;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    background: inherit;
    transition: all 0.2s ease-in-out;
    color: #f2f2f2;
}

.context-menu button:hover {
    background: #f2f2f2;
    color: #2e2e2e;
}

/* Node */
.node {
    padding: 1px;
    width: 100%;
    cursor: crosshair;
    border-radius: 5px;
}

.node:focus {
    padding: 3px;
    border: 1px solid #ddd;
}

/* .node:hover {
} */

.node_container {
    font-size: 12px;
    padding: 3px;
    border-radius: 5px;
    background: #353535;
}

.node_label {
    width: 100%;
    padding: 2px;
    color: #c9c8c8;
    font-size: 8px;
    border-bottom: 1px solid rgb(41, 41, 41);
}

.clip {
    background-color: #ffd500 !important;
}

.latent {
    background-color: #ff9cf9 !important;
}

.conditioning,
.positive,
.negative {
    background-color: #ffa931 !important;
}

.model {
    background-color: #b39ddb !important;
}

.vae {
    background-color: #f96b6b !important;
}

.model {
    background-color: #b39ddb !important;
}

/* Flow */

.flow_output_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 3px;
}

.flow_input_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
}

.flow_input_output_container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 5px 0px;
}

.flow_output,
.flow_input {
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: center;
}

.flow_output_text {
    color: var(--drag-text);
    margin-right: 10px;
    font-size: 0.4rem;
    transform: none !important;
}

.flow_input_text {
    color: var(--drag-text);
    margin-left: 10px;
    font-size: 0.33rem;
    transform: none !important;
}

.react-flow__handle {
    background: gray;
}

.flow_handler {
    top: unset !important;
    width: 4px !important;
    height: 4px !important;
    min-width: 4px !important;
    min-height: 4px !important;
    transform: none !important;
    border-radius: 50% !important;
    border: 1px solid transparent !important;
}

.right {
    right: 5px !important;
}

.left {
    left: 5px !important;
}

/* widgets */
.widgets_container {
    margin-top: 3px;
    width: 100%;
}

.widget_container {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: normal;
    font-size: 0.5em;
}

.widget_box {
    width: 100%;
    display: flex;
    padding: .5px;
    align-items: center;
    justify-content: space-between;
}

.widget_input {
    display: flex;
    width: 100%;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    background: var(--comfy-input-bg);
    color: var(--input-text);
}

.widget_input_item {
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
    align-items: center;
}

.widget_input_item_text {
    margin-bottom: 1px;
    color: #b2b2b2;
}

.react-flow__pane {
    cursor: default !important;
}
