.ant-btn.ant-btn-default {
  box-shadow: none;
  font-size: 14px;
  background-color: transparent;
  border-color: var(--descrip-text) !important;
  color: var(--descrip-text) !important;
}
.ant-btn.ant-btn-default:hover {
  border-color: var(--comfy-input-bg) !important;
  color: var(--comfy-input-bg) !important;
}

.ant-btn {
  display: inline-flex;
  align-items: center;
  padding: 3px 8px;
}
.ant-btn svg {
  margin-right: 4px;
}
.ant-btn svg * {
  transition: var(--transition);
}

.menu_modal h2 {
  color: var(--fg-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.menu_modal h4 {
  color: var(--descrip-text);
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
}
.menu_modal > div {
  width: 100%;
  height: 100%;
}
.menu_modal .ant-modal-content {
  width: 100%;
  height: 100%;
  background-color: var(--comfy-menu-bg) !important;
  border-radius: 10px !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.menu_modal .ant-modal-content .ant-modal-close {
  color: var(--input-text) !important;
}
.menu_modal .ant-modal-body {
  width: 100%;
  height: 100%;
}
.menu_modal_container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
}
.menu_modal_items {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.menu_modal_items_button {
  width: 100%;
  padding: 4px 10px;
  padding-left: 0;
  margin-bottom: 14px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all ease 0.5s;
  user-select: none;
  cursor: pointer;
  color: var(--input-text);
}

.menu_modal_items_button .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 10px;
  background-color: var(--fg-color);
  margin-right: 10px;
  transition: all ease 0.5s;
}
.menu_modal_items_button .icon svg * {
  fill: var(--bg-color);
}
.menu_modal_items_button:hover {
  background-color: var(--fg-color);
  color: var(--bg-color);
}
.menu_modal_items_button.active {
  color: var(--bg-color);
  background-color: var(--fg-color);
}
.menu_modal_items_button.active span {
  font-weight: 500;
}
.menu_modal_items_button.active .icon {
  background-color: transparent;
}
.menu_modal_items_button.active .icon svg * {
  fill: var(--bg-color);
}
.menu_modal_content {
  width: 100%;
  height: 100%;
}
.menu_modal .image_feed {
  width: 100%;
  height: 100%;
}
.menu_modal .image_feed-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  height: calc(100% - 120px);
  overflow-y: auto;
}
.menu_modal .models {
  width: 100%;
  height: 100%;
}
.menu_modal .models .tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.menu_modal .models .tab {
  padding: 0px 10px;
  font-size: large;
  color: var(--input-text);
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu_modal .models .tab:hover {
  color: var(--fg-color);
}
.menu_modal .models .tab.active {
  color: var(--fg-color);
  border-bottom: 2px solid var(--fg-color);
}
.menu_modal .models_main {
  height: calc(100% - 100px);
  overflow-y: auto;
}
.menu_modal .models_container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.menu_modal .models_container_item {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  background-color: var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 15px;
}
.menu_modal .models_container_item_image {
  width: 220px;
  height: 220px;
  border-radius: 10px;
}
.menu_modal .models_container_item_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.menu_modal .models_container_item_info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
}
.menu_modal .models_container_item_info_name {
  color: var(--fg-color);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.menu_modal .models_container_item_info_desc {
  color: var(--tr-even-bg-color);
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.image_container {
  position: relative;
}
.image_tag {
  border-radius: 6px;
  display: block;
  width: 200px;
  height: 200px;
}
.image_overlay {
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.image_container:hover .image_overlay {
  opacity: 1;
}
.image .remove-button,
.image .download-button {
  display: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #0c2d66;
  border: none;
  outline: none;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.image .remove-button:hover,
.image .download-button:hover {
  background-color: #061836;
}
.image_container:hover .download-button, .image_container:hover .remove-button {
  display: block;
}/*# sourceMappingURL=styles.css.map */